{
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-async-generator-functions",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": [
    "@babel/preset-env"
  ]
}
